body,
html {
  width:  100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  /* background: url("computer_startup_img.jpg") no-repeat center center fixed; */

/*
  background: url(../../../../../computer_startup_img.jpg) no-repeat center center fixed;
*/
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

hr{
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}

h1{
  font-size: 4em;
  color: yellow;
}
h2{
  col-md-auto
  font-size: 2em;
  color: yellow;
}
h3{
  animation-delay: 5s;
  font-size: 4em;
  color: yellow;
}

.delay1ms{
  animation-delay: 1ms;
}
.delay1{
  animation-delay: 1s;
}
.delay2{
  animation-delay: 2s;
}
.delay3{
  animation-delay: 3s;
}

.btn{
  font-size: 20em
  font-weight: 900;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl{
  padding: 1em 2em;
}

.btn-primary{
  font-size: 16em
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover{
  font-size: 16em
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 2px;
}
.buffer{
  height: 8.5em;
}
/* ---- reset ---- */
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }
 canvas{ display: block; vertical-align: bottom; }
 /* ---- particles.js container ---- */
 #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #030922;
/* background-image: url(""); */
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%; }
/* ---- stats.js ---- */
.count-particles{
          background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9;
          font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px;
          font-family: Helvetica, Arial, sans-serif; font-weight: bold; }
.js-count-particles{ font-size: 1.1em; }
/* #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; }  */
#stats{ border-radius: 3px 3px 0 0; overflow: hidden; }
.count-particles{ border-radius: 0 0 3px 3px; }
